/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 31, 63, 0.8);
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
  color: #7FB3D5;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  font-size: 1.1rem;
  color: #EAEDED;
}
.nav-links button {
  background: none;
  border: none;
  color: #EAEDED;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0;
}

.nav-links button:hover {
  text-decoration: underline;
}
