/* src/index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #EAEDED;
  background-color: rgba(0, 31, 63, 0.9); /* Fallback background */
}

a {
  text-decoration: none;
  color: #7FB3D5;
  transition: color 0.3s ease;
}

a:hover {
  color: #EAEDED;
}

button {
  cursor: pointer;
  background-color: #005A8D;
  color: #EAEDED;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #003B5C;
}

.feature-container {
  text-align: center;
  margin-top: 20vh;
  font-size: 1.5rem;
  color: #7FB3D5;
}
